<p-table [value]="resultPage.data" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <input type="text" placeholder="请输入角色名称" pInputText class="p-inputtext-sm" [(ngModel)]="roleListRequest.roleName"/>
    <button pButton type="button" class="p-button p-button-sm my-p-b" (click)="search(1)" *ngIf="roleListZone">查询</button>
    <button pButton type="button" class="p-button-info p-button-sm my-p-b" (click)="reset()" *ngIf="roleListZone">重置</button>
    <button pButton type="button" class="p-button-success p-button-sm my-p-b" (click)="roleAddFunction()" *ngIf="roleAddZone">新增</button>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>序号</th>
      <th>角色名称</th>
      <th>角色代码</th>
      <th>注册日期</th>
      <th>操作</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-eachData let-index="rowIndex">
    <tr>
      <td>{{(index+1)+(resultPage.currentPage-1)*resultPage.pageSize}}</td>
      <td>{{eachData.roleName}}</td>
      <td>{{eachData.roleCode}}</td>
      <td>{{eachData.createDate}}</td>
      <td>
        <button pButton type="button" class="p-button-danger p-button-sm my-p-b" (click)="roleDeleteFunction(eachData.roleId)" *ngIf="roleDeleteZone">删除角色</button>
        <button pButton type="button" class="p-button-warning p-button-sm my-p-b" (click)="roleModifyFunction(eachData.roleId)" *ngIf="roleModifyZone">修改角色</button>
        <button pButton type="button" class="p-button p-button-sm my-p-b" (click)="roleDetailFunction(eachData.roleId)" *ngIf="roleDetailZone">角色详情</button>
        <button pButton type="button" class="p-button-info p-button-sm my-p-b" (click)="roleModuleAssignmentFunction(eachData.roleId)" *ngIf="roleModuleAssignmentZone">角色模块分配</button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-eachData>
    <tr>
      <td colspan="5"><div style="text-align:center;">无数据</div></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <button pButton type="button" class="p-button-info p-button-sm my-p-b" (click)="search(1)" *ngIf="resultPage.currentPage>1">首页</button>
    <button pButton type="button" class="p-button-info p-button-sm my-p-b" (click)="search(resultPage.currentPage-1)" *ngIf="resultPage.currentPage>1">上一页</button>
    <button pButton type="button" class="p-button-info p-button-sm my-p-b" (click)="search(eachPage)" *ngFor="let eachPage of resultPage.pageList">{{eachPage}}</button>
    <button pButton type="button" class="p-button-info p-button-sm my-p-b" (click)="search(resultPage.currentPage+1)" *ngIf="resultPage.totalPage>resultPage.currentPage">下一页</button>
    <button pButton type="button" class="p-button-info p-button-sm my-p-b" (click)="search(resultPage.totalPage)" *ngIf="resultPage.totalPage>resultPage.currentPage">末页</button>
    <button pButton type="button" class="p-button-secondary p-button-sm my-p-b" [disabled]="true" *ngIf="resultPage.totalPage>=resultPage.currentPage">当前第{{resultPage.currentPage}}/{{resultPage.totalPage}}页，共{{resultPage.totalSize}}条</button>
  </ng-template>
</p-table>
