<nz-layout class="searchZone">
  <div nz-row>
    <div nz-col nzSpan="3">
      <input type="text" nz-input placeholder="请输入角色名称" maxlength="20" [(ngModel)]="roleListRequest.roleName"/>
    </div>
    <div nz-col nzSpan="3">
      <button nz-button nzType="primary" type="button" (click)="search(1)" *ngIf="roleListZone" [nzLoading]="loading">查询</button>
      <button nz-button nzType="default" type="button" (click)="reset()" *ngIf="roleListZone">重置</button>
      <button nz-button nzType="primary" type="button" (click)="roleAddFunction()" *ngIf="roleAddZone">新增</button>
    </div>
  </div>
</nz-layout>
<nz-table class="tableZone" #rowSelectionTable nzShowPagination [nzFrontPagination]="false" (nzPageIndexChange)="search($event)" [nzLoading]="loading" *ngIf="roleListZone"
          [nzData]="resultPage.data" [nzTotal]="resultPage.totalSize" [nzPageIndex]="resultPage.currentPage" [nzPageSize]="resultPage.pageSize">
  <thead>
    <tr>
      <th>序号</th>
      <th>角色名称</th>
      <th>角色代码</th>
      <th>注册日期</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data;let xh=index">
      <td>{{(xh+1)+(resultPage.currentPage-1)*resultPage.pageSize}}</td>
      <td>{{data.roleName}}</td>
      <td>{{data.roleCode}}</td>
      <td>{{data.createDate}}</td>
      <td>
        <a *ngIf="roleDeleteZone" (click)="roleDeleteFunction(data.roleId)"><span nz-typography nzType="danger">删除角色</span></a>
        <a *ngIf="roleModifyZone" (click)="roleModifyFunction(data.roleId)"><span nz-typography nzType="warning">修改角色</span></a>
        <a *ngIf="roleDetailZone" (click)="roleDetailFunction(data.roleId)"><span nz-typography nzType="secondary">角色详情</span></a>
        <a *ngIf="roleModuleAssignmentZone" (click)="roleModuleAssignmentFunction(data.roleId)"><span nz-typography nzType="success">角色模块分配</span></a>
      </td>
    </tr>
  </tbody>
</nz-table>
