<div class="searchZone">
  <div nz-row [nzGutter]="4">
    <div nz-col nzSpan="2">
      <input type="text" nz-input placeholder="请输入角色名称" maxlength="20" [(ngModel)]="roleListRequest.roleName"/>
    </div>
    <div nz-col nzSpan="2">
      <button nz-button nzType="primary" type="button" class="ant-btn-main" (click)="search(1)" *ngIf="roleListZone" [nzLoading]="loading">查询</button>
      <button nz-button nzType="primary" type="button" class="ant-btn-info" (click)="reset()" *ngIf="roleListZone">重置</button>
      <button nz-button nzType="primary" type="button" class="ant-btn-success" (click)="roleAddFunction()" *ngIf="roleAddZone">新增</button>
    </div>
  </div>
</div>
<nz-table #rowSelectionTable nzShowPagination [nzFrontPagination]="false" (nzPageIndexChange)="search($event)" [nzLoading]="loading" *ngIf="roleListZone"
          [nzData]="resultPage.data" [nzTotal]="resultPage.totalSize" [nzPageIndex]="resultPage.currentPage" [nzPageSize]="resultPage.pageSize">
  <thead>
    <tr>
      <th>序号</th>
      <th>角色名称</th>
      <th>角色代码</th>
      <th>注册日期</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data;let xh=index">
      <td>{{(xh+1)+(resultPage.currentPage-1)*resultPage.pageSize}}</td>
      <td>{{data.roleName}}</td>
      <td>{{data.roleCode}}</td>
      <td>{{data.createDate}}</td>
      <td>
        <button nz-button nzType="primary" type="button" class="ant-btn-error" (click)="roleDeleteFunction(data.roleId)" *ngIf="roleDeleteZone">删除角色</button>
        <button nz-button nzType="primary" type="button" class="ant-btn-warning" (click)="roleModifyFunction(data.roleId)" *ngIf="roleModifyZone">修改角色</button>
        <button nz-button nzType="primary" type="button" class="ant-btn-main" (click)="roleDetailFunction(data.roleId)" *ngIf="roleDetailZone">角色详情</button>
        <button nz-button nzType="primary" type="button" class="ant-btn-info" (click)="roleModuleAssignmentFunction(data.roleId)" *ngIf="roleModuleAssignmentZone">角色模块分配</button>
      </td>
    </tr>
  </tbody>
</nz-table>
