<div style="margin-top:5px;margin-left:5%;" *ngIf="list==null||list.length==0">
  <i class="{{(icon==null||icon=='')?'icon':icon}}"></i>
  <a [routerLink]="[url]" href="javascript:void(0);">{{name}}</a>
</div>
<div style="margin-top:5px;" *ngIf="list!=null&&list.length>0">
  <div style="margin-left:5%;">
    <i class="{{(icon==null||icon=='')?'icon':icon}}"></i>
    <a (click)="addExpandClass()" href="javascript:void(0);">{{name}}</a>
    <span [hidden]="!showMenu" style="float:right;margin-right:20px;"><i class="bi bi-arrows-collapse"></i></span>
    <span [hidden]="showMenu" style="float:right;margin-right:20px;"><i class="bi bi-arrows-expand"></i></span>
  </div>
  <div style="margin-left:5%;" [hidden]="showMenu">
    <app-web-home-sidebar-recursion *ngFor="let i of list" [icon]="i.icon" [url]="i.pageUrl" [name]="i.moduleName" [list]="i.list"></app-web-home-sidebar-recursion>
  </div>
</div>
