/* You can add global styles to this file, and also import other style files */

/* NgZorro全局样式引入 */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

/* NgZorro自定义button样式 */
/* 暂无 */

/* NgZorro自定义数据表格搜索栏样式 */
.searchZone {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  button {
    margin-left: 5px;
  }
  input {
    margin-left: 5px;
  }
}

/* NgZorro自定义数据表格展示栏样式 */
.tableZone {
  margin-left: 5px;
  margin-right: 5px;
}
.tableZone tbody tr td a span {
  font-weight: bold;
}
