/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
.ant-btn-warning{
  color: rgba(0, 0, 0, 0.65);
  background-color: #f5e106;
  border-color: #efe69c;
}
.ant-btn-warning:hover{
  background-color: #f3e032;
}
.ant-btn-main{
  color: rgba(0, 0, 0, 0.65);
  background-color: #3151ef;
  border-color: #8e9fef
}
.ant-btn-main:hover{
  background-color: #607aef;
}
.ant-btn-info{
  color: rgba(0, 0, 0, 0.65);
  background-color: #06aaf6;
  border-color: #91d1f1
}
.ant-btn-info:hover{
  background-color: #45bbf5;
}
.ant-btn-success{
  color: rgba(0, 0, 0, 0.65);
  background-color: #7df307;
  border-color: #cef5a1
}
.ant-btn-success:hover{
  background-color: #9df349;
}
.ant-btn-error{
  color: rgba(0, 0, 0, 0.65);
  background-color: #f81707;
  border-color: #efb5b2
}
.ant-btn-error:hover{
  background-color: #f8584c;
}
