<nz-layout class="searchZone">
  <div nz-row [nzGutter]="9">
    <div nz-col nzSpan="2">
      <input type="text" nz-input placeholder="请输入用户名" [(ngModel)]="userListRequest.userName"/>
    </div>
    <div nz-col nzSpan="2">
      <input type="text" nz-input placeholder="请输入用户姓名" [(ngModel)]="userListRequest.personName"/>
    </div>
    <div nz-col nzSpan="2">
      <input type="text" nz-input placeholder="请输入角色名" [(ngModel)]="userListRequest.roleName"/>
    </div>
    <div nz-col nzSpan="3">
      <button nz-button nzType="primary" type="button" (click)="search(1)" *ngIf="userListZone" [nzLoading]="loading">查询</button>
      <button nz-button nzType="default" type="button" (click)="reset()" *ngIf="userListZone">重置</button>
      <button nz-button nzType="primary" type="button" (click)="userAddFunction()" *ngIf="userAddZone">新增</button>
    </div>
  </div>
</nz-layout>
<nz-table class="tableZone" #rowSelectionTable nzShowPagination [nzFrontPagination]="false" (nzPageIndexChange)="search($event)" [nzLoading]="loading" *ngIf="userListZone"
          [nzData]="resultPage.data" [nzTotal]="resultPage.totalSize" [nzPageIndex]="resultPage.currentPage" [nzPageSize]="resultPage.pageSize">
  <thead>
  <tr>
    <th>序号</th>
    <th>用户名</th>
    <th>用户姓名</th>
    <th>省</th>
    <th>市</th>
    <th>区</th>
    <th>用户角色</th>
    <th>注册日期</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of rowSelectionTable.data;let xh=index">
    <td>{{(xh+1)+(resultPage.currentPage-1)*resultPage.pageSize}}</td>
    <td>{{data.userName}}</td>
    <td>{{data.personName}}</td>
    <td>{{data.province}}</td>
    <td>{{data.city}}</td>
    <td>{{data.district}}</td>
    <td *ngIf="data.roleName==null||data.roleName==''"><span style="color:red">未分配角色</span></td><td *ngIf="data.roleName!=null&&data.roleName!=''">{{data.roleName}}</td>
    <td>{{data.createDate}}</td>
    <td *ngIf="data.status!=0 && data.status!=1"></td><td *ngIf="data.status==0" style="color:#438b0e">正常</td><td *ngIf="data.status==1" style="color:red">禁用</td>
    <td>
      <a *ngIf="userDeleteZone" (click)="userDeleteFunction(data.userId)"><span nz-typography nzType="danger">删除用户</span></a>
      <a *ngIf="userModifyZone" (click)="userModifyFunction(data.userId)"><span nz-typography nzType="warning">修改用户</span></a>
      <a *ngIf="userDetailZone" (click)="userDetailFunction(data.userId)"><span nz-typography nzType="secondary">用户详情</span></a>
      <a *ngIf="userRoleAssignmentZone" (click)="userRoleAssignmentFunction(data.userId)"><span nz-typography nzType="success">用户角色分配</span></a>
      <a *ngIf="userModuleAssignmentZone" (click)="userModuleAssignmentFunction(data.userId)"><span nz-typography nzType="success">用户模块分配</span></a>
      <a *ngIf="userInitPasswordZone" (click)="userInitPasswordFunction(data.userId)"><span nz-typography nzType="danger">初始化密码</span></a>
    </td>
  </tr>
  </tbody>
</nz-table>
