<div style="margin-top:1%;margin-left:1%">
  角色名称<input type="text" style="height:35px;" placeholder="请输入角色名称" [(ngModel)]="roleRestrictListRequest.roleName">
  省
  <select style="height:35px;width:165px;" (change)="selectChangeProvince($event)">
    <option value=""></option>
    <option *ngFor="let eachData of getProvinceData;" value="{{eachData.code}}">{{eachData.name}}</option>
  </select>
  市
  <select [disabled]='provinceDisableTag' style="height:35px;width:165px;" (change)="selectChangeCity($event)">
    <option value=""></option>
    <option *ngFor="let eachData of getCityData;" value="{{eachData.code}}">{{eachData.name}}</option>
  </select>
  区
  <select [disabled]='cityDisableTag' style="height:35px;width:165px;" (change)="selectChangeDistrict($event)">
    <option value=""></option>
    <option *ngFor="let eachData of getDistrictData;" value="{{eachData.code}}">{{eachData.name}}</option>
  </select>
  <button type="button" class="btn btn-primary" style="margin-left:1%;" (click)="roleRestrictSearch(1)" *ngIf="roleRestrictListZone">查询</button>
  <button type="button" class="btn btn-info" style="margin-left:1%;" (click)="reset()">重置</button>
  <button type="button" class="btn btn-success" style="margin-left:1%;" (click)="roleRestrictAddFunction()" *ngIf="roleRestrictAddZone">新增</button>
</div>
<div class="col col-xl-12 col-lg-12" style="margin-top:1%;">
  <div class="card mb-3">
    <div class="card-body table table-hover">
      <table class="table">
        <thead>
        <tr class="text-center">
          <th>序号</th>
          <th>角色名称</th>
          <th>省</th>
          <th>市</th>
          <th>区</th>
          <th>限定方式</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody *ngIf="resultPage.data==resultPage.dataLoading">
        <tr class="text-center">
          <td colspan=7>数据获取中...</td>
        </tr>
        </tbody>
        <tbody *ngIf="resultPage.data==null">
        <tr class="text-center">
          <td colspan=7>无数据</td>
        </tr>
        </tbody>
        <tbody *ngIf="resultPage.data!=null&&resultPage.data!=resultPage.dataLoading">
        <tr *ngFor="let eachData of resultPage.data;let xh=index" class="text-center">
          <td>{{(xh+1)+(resultPage.currentPage-1)*resultPage.pageSize}}</td>
          <td>{{eachData.roleName}}</td>
          <td>{{eachData.province}}</td>
          <td>{{eachData.city}}</td>
          <td>{{eachData.district}}</td>
          <td>{{eachData.restrictWay}}</td>
          <td>
            <button style="margin-right:10px;" *ngIf="roleRestrictDeleteZone" class="btn btn-sm btn-danger" (click)="roleRestrictDeleteFunction(eachData.id)">删除角色限定</button>
            <button style="margin-right:10px;" *ngIf="roleRestrictModifyZone" class="btn btn-sm btn-warning" (click)="roleRestrictModifyFunction(eachData.id)">修改角色限定</button>
            <button style="margin-right:10px;" *ngIf="roleRestrictDetailZone" class="btn btn-sm btn-info" (click)="roleRestrictDetailFunction(eachData.id)">角色限定详情</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="resultPage.data!=null&&resultPage.data!=resultPage.dataLoading">
      <div style="float:right;padding:0px 1em 1ex 0em;">
        <span style="margin-right:10px;"><a *ngIf="resultPage.currentPage>1" (click)="roleRestrictSearch(1)" class="btn btn-info">首页</a></span>
        <span style="margin-right:10px;"><a *ngIf="resultPage.currentPage>1" (click)="roleRestrictSearch(resultPage.currentPage-1)" class="btn btn-info">上一页</a></span>
        <span style="margin-right:10px;"style="margin-right:10px;" *ngFor="let eachPage of resultPage.pageList"><a (click)="roleRestrictSearch(eachPage)" class="btn btn-info" [ngClass]="{'active':(resultPage.currentPage==eachPage)}">{{eachPage}}</a></span>
        <span style="margin-right:10px;"><a *ngIf="resultPage.totalPage>resultPage.currentPage" (click)="roleRestrictSearch(resultPage.currentPage+1)" class="btn btn-info">下一页</a></span>
        <span style="margin-right:10px;"><a *ngIf="resultPage.totalPage>resultPage.currentPage" (click)="roleRestrictSearch(resultPage.totalPage)" class="btn btn-info">末页</a></span>
        <span *ngIf="resultPage.totalPage>=resultPage.currentPage">当前第{{resultPage.currentPage}}/{{resultPage.totalPage}}页，共{{resultPage.totalSize}}条</span>
      </div>
    </div>
  </div>
</div>
